<%- include("partials/header") -%>

<div id="about">
    <div class="navbar">
        <div class="navbar-brand">
            <a href="/"><img class="logo" src="img/logo.jpeg" alt=""></a>
        </div>

        <div class="navbar-items">

            <a href="/">HOME</a>
            <a href="/about">ABOUT</a>
            <a href="/contact">CONTACT</a>
        </div>
    </div>
    <div class="profile">
        <img class="about-logo" src="img/profile.JPG" alt="profile-image">
    </div>

    <div class="about-container">

        <ul>
            <li> 🥴 Hi There, I am Rishabh, 3rd Year Student. </li>
            <li> 🤯 I am currently pursuing BE Computer Science And Engineering.</li>
            <li> 🤩 This Project is made under THE SPARKS FOUNDATION InternShip </li>

            <li> 😋 Project Work Include :</li>
            <li> 🙃 Frontend : HTML, CSS, JavaScript and BootStrap</li>
            <li> 🙃 Backend : NodeJS, EJS Framework</li>

        </ul>

    </div>
</div>

<%- include("partials/footer") -%>